In [1]:
# Using the following data, perform a oneway analysis of variance using α=.05. Write up
# the results in APA format.
# [Group1: 51, 45, 33, 45, 67]
# [Group2: 23, 43, 23, 43, 45]
# [Group3: 56, 76, 74, 87, 56]

In [2]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [3]:
g1 = [51, 45, 33, 45, 67]
g2 = [23, 43, 23, 43, 45]
g3 = [56, 76, 74, 87, 56]

In [4]:
df = pd.DataFrame({"Group1": g1, "Group2": g2, "Group3": g3})
df

   Group1  Group2  Group3
0      51      23      56
1      45      43      76
2      33      23      74
3      45      43      87
4      67      45      56

In [5]:
df.describe()

          Group1     Group2     Group3
count   5.000000   5.000000   5.000000
mean   48.200000  35.400000  69.800000
std    12.377399  11.349009  13.535139
min    33.000000  23.000000  56.000000
25%    45.000000  23.000000  56.000000
50%    45.000000  43.000000  74.000000
75%    51.000000  43.000000  76.000000
max    67.000000  45.000000  87.000000

In [6]:
# The ANOVA test has important assumptions that must be satisfied in order for the associated p-value to be valid.

#     The samples are independent.
#     Each sample is from a normally distributed population.
#     The population standard deviations of the groups are all equal. This property is known as homoscedasticity.

# Since their standard deviations are close to each other. We can use One-Way ANOVA test

In [7]:
# One-Way ANOVA Test
stats.f_oneway(g1, g2, g3)

F_onewayResult(statistic=9.747205503009463, pvalue=0.0030597541434430556)

In [8]:
print("""Since pvalue < 0.05 (α=.05), The differences between the means are statistically significant.
Therefore, we reject the null hypothesis that they may be equal""")

Since pvalue < 0.05 (α=.05), The differences between the means are statistically significant.
Therefore, we reject the null hypothesis that they may be equal